*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    color: white
}

header{
    background-color: tomato;
}

h1{
    height: 100%;
    display: grid;
    place-items: center;
    background-color: red;
}

main{
    background-color: blueviolet;
}

.galeria{
    height: 100%;
    width: 100%;
    background-color: pink;
    display: grid;
    grid-template-areas: 
        "f1 f2 f3 f4" 
        "f5 f6 f7 f8";
}

.galeria .foto{
    background-color: goldenrod;
    border: 2px solid #fff;
}

.galeria .foto:nth-of-type(1){grid-area: f1;}
.galeria .foto:nth-of-type(1){grid-area: f2;}
.galeria .foto:nth-of-type(1){grid-area: f3;}
.galeria .foto:nth-of-type(1){grid-area: f4;}
.galeria .foto:nth-of-type(1){grid-area: f5;}
.galeria .foto:nth-of-type(1){grid-area: f6;}
.galeria .foto:nth-of-type(1){grid-area: f7;}
.galeria .foto:nth-of-type(1){grid-area: f8;}

footer{
    background-color: pink;
}